@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="chapter"],
section[epub|type~="part"] > h2{
	page-break-after: always;
}

section[epub|type~="z3998:poem"]{
	margin-left: 1em;
}

p + section[epub|type~="z3998:poem"],
section[epub|type~="z3998:poem"] + p{
	margin-top: 1em;
}

section[epub|type~="z3998:poem"] + p{
	text-indent: 0;
}

*[epub|type~="z3998:poem"] p{
	font-style: italic;
	text-align: left;
	text-indent: 0;
}

*[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

*[epub|type~="z3998:poem"] p span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

*[epub|type~="z3998:poem"] br{
	display: none;
}

abbr.era{
	font-variant: all-small-caps;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}
