@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="chapter"],
section[epub|type~="part"] > h2{
	break-after: page;
}

[epub|type~="z3998:poem"]{
	font-style: italic;
	margin: 1em;
}

div[epub|type~="z3998:poem"] + p{
	text-indent: 0;
}

[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}
